// {{ ansible_managed }}
//

Version            = {{ znc_version }}
MaxBufferSize      = {{ znc_max_buffer }}
SSLCertFile        = {{ znc_ssl_pem }}
AnonIPLimit        = 10
ConnectDelay       = 5
ProtectWebSessions = true
ServerThrottle     = 30

{% for system_module in znc_system_modules %}
LoadModule = {{ system_module }}
{% endfor %}

Skin = _default_
StatusPrefix = *

<Listener l>
        AllowIRC = true
        AllowWeb = true
        Port     = {{ znc_port }}
        IPv4     = {{ (znc_ipv4 | bool) | lower }}
        IPv6     = {{ (znc_ipv6 | bool) | lower }}
        SSL      = {{ (znc_ssl | bool) | lower }}
</Listener>

{% for user in znc_users %}
<User {{ user.name }}>
        Admin            = {{ user.admin | default(false) | bool | lower }}
        Allow            = {{ user.allow | default("*") }}
        AltNick          = {{ user.altnick | default(user.nick+"_") }}
        AppendTimestamp  = {{ user.atimestamp | default(false) | bool }}
        AutoClearChanBuffer = {{ user.autoclearchanbuffer | default(true) | bool | lower }}
        Buffer           = {{ user.buffer | default(znc_max_buffer_size) }}
        ChanModes        = {{ user.chanmodes | default("+stn") }}
        DenyLoadMod      = false
        DenySetBindHost  = false
        Ident            = {{ user.ident | default(user.nick) }}
        MaxJoins         = 0
        MaxNetworks      = 1
        MultiClients     = {{ user.multiclients | default(false) | bool }}
        Nick             = {{ user.nick }}
        PrependTimestamp = {{ user.atimestamp | default(false) | bool }}
        QuitMsg          = {{ user.quitmsg | default("crashed.") }}
        RealName         = {{ user.realname | default(user.nick) }}
        TimestampFormat  = {{ user.timestamp }}
        Timezone         = {{ user.timezone }}
  
{% if user.modules is defined %}
{% for module in user.modules %}
        LoadModule       = {{ module }}
{% endfor %}
{% endif %}

{% if user.networks is defined %}
{% for network_name, network in user.networks.items() %}

        <Network {{ network_name }}>
                FloodBurst = 4
                FloodRate = 1.00
                IRCConnectEnabled = true
{% if network.modules is defined %}
{% for module in network.modules %}
                LoadModule = {{ module }}
{% endfor %}
{% endif %}
                Server     = {{ network.server }} {{ "+" if network.ssl else "" }}{{ network.port }} {{ network.password | default("") }}

{% if network.channels is defined %}
{% for channel in network.channels %}
     <Chan {{ channel }}>
     </Chan>
{% endfor %}
{% endif %}
  </Network>
{% endfor %}
{% endif %}

    <Pass password>
        Hash   = {{ user.password.hash }}
        Method = {{ user.password.method }}
        Salt   = {{ user.password.salt }}
    </Pass>

</User>

{% endfor %}
